# dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# env files
.env
server/.env
frontend/.env

# build files
dist/
build/

# logs
*.log

# vscode
.vscode/

# OS files
.DS_Store
Thumbs.db